@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Yekan";
}

.clip-polygon {
  clip-path: polygon(0 68%, 100% 34%, 100% 100%, 0 100%);
  background: linear-gradient(269.55deg, #06846f 0.35%, #54bee8 103.4%);
}

.outlet {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.nav {
  z-index: 1;
  position: absolute;
  top: 80px;
  left: 80px;
  right: 80px;
}
/* layer base {
  @font-face {
      font-family: 'Yekan';
      src:	url('Yekan.eot'); 
      src:	url('Yekan.eot?#iefix') format('embedded-opentype'), 
          url('Yekan.woff2') format('woff2'), 
          url('Yekan.woff') format('woff'), 
          url('Yekan.otf') format('opentype'), 
          url('Yekan.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      text-rendering: optimizeLegibility;
      font-display: auto;

  }
}; */

.sec_div {
  width: 800px;
  height: 509px;
  padding: 24px 24px 32px 24px;
  border-radius: 20px;
}

.div3_h2 {
  font-size: 32px;
  line-height: 45.09px;
}

.div3_btn {
  height: 32px;
  width: 32px;
}

.div4 {
  width: 752px;
  height: 376px;
  padding: 20px;
}
.div4_p {
  font-size: 16px;
  font-weight: 400;
}
.div4_li {
  font-size: 16px;
  font-weight: 400;
}

@font-face {
  font-family: "Yekan";
  src: url("./yekan font/Yekan.eot");
  src: url("./yekan font/Yekan.eot?#iefix") format("embedded-opentype"),
    url("./yekan font/Yekan.woff2") format("woff2"),
    url("./yekan font/Yekan.woff") format("woff"),
    url("./yekan font/Yekan.otf") format("opentype"),
    url("./yekan font/Yekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

.rbc-toolbar-label {
  padding: 0 10px;
  flex-grow: 0 !important;
}
.rbc-toolbar {
  display: flex;
  justify-content: flex-start;
}
.rbc-off-range-bg {
  /* background-color: #ffffff; */
  z-index: -2;
}
.rbc-date-cell a {
  color: black;
  z-index: 6;
}
.rbc-day-bg + .rbc-day-bg {
  border: none;
}
.rbc-day-bg {
  /* background-color: #ffffff; */
  z-index: -2;
}
.rbc-date-cell {
  text-align: unset;
  height: 20px;
}
.rbc-today {
  background-color: #ffffff;
}
.rbc-now a {
  border: 1px solid blue;
  padding: 5px;
  border-radius: 25px;
  font-weight: 100;
}
.cal_list {
  background-color: #f7f8f9;
}
.cal {
  width: 936px;
  height: 632px;
}
