@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-polygon {
  clip-path: polygon(0 68%, 100% 34%, 100% 100%, 0 100%);
  background: linear-gradient(269.55deg, #06846f 0.35%, #54bee8 103.4%);
}

.outlet {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}

.nav {
  position: absolute;
  top: 80px;
  left: 80px;
  right: 80px;
}
/* layer base {
  @font-face {
      font-family: 'Yekan';
      src:	url('Yekan.eot'); 
      src:	url('Yekan.eot?#iefix') format('embedded-opentype'), 
          url('Yekan.woff2') format('woff2'), 
          url('Yekan.woff') format('woff'), 
          url('Yekan.otf') format('opentype'), 
          url('Yekan.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
      text-rendering: optimizeLegibility;
      font-display: auto;

  }
}; */
